<launch>
<node pkg="circular_server" type="ctrl_server.py" name="ctrl_server" output="screen">
    <rosparam param="command">
    [
        <!-- ['MoveBase', 'P1'], -->
        ['TopologyMap', 'P3'],
        ['PBVS', 'fruit_docking', layer_dist]
    ] 
    </rosparam>
    <rosparam param= "waypoints">
    {    
        "P1": [-21.219, -4.589, 0.715, 0.699],
        "P2": [-21.347, -2.575, 0.682, 0.731],
        "P3": [-21.347, -2.575, 0.048, 0.999],
        "P4": [-18.701, -2.196, -0.002, 0.999]
    }
    </rosparam>
</node>
</launch>

<!-- ['PBVS', 'fruit_docking', layer_dist],
['odom', 'odom_front', layer_dist],
['odom', 'odom_turn', layer_dist] , +逆時針
['TopologyMap', 'P?']
['MoveBase', 'P?']-->