<launch>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="pub_name" value="/robot_pose" />
    <param name="target_frame_id" value="map" />
    <param name="source_frame_id" value="base_link" />
    <param name="start_node" value="P1" />
    <rosparam param= "graph">
    {
        "P1": {"P2": 1},
        "P2": {"P3": 1},
        "P3": {"P4": 1},
        "P4": {"P5": 1},
        "P5": {"P6": 1},
        "P6": {"P7": 1},
        "P7": {"P8": 1},
        "P8": {"P9": 1},
        "P9": {"P10": 1},
        "P10": {"P11": 1},
        "P11": {"P12": 1},
        "P12": {"P13": 1},
        "P13": {"P14": 1},
        "P14": {"P14": 1}
    }
    </rosparam>
    <rosparam param= "waypoints">
    {
        "P1": [-6.519, -2.558, -0.708, 0.700],
        
        "P2": [-6.666, -4.267, -0.717, 0.690],
        "P3": [-6.666, -4.267, 0.992, -0.030],
        "P4": [-6.666, -4.267, 0.992, -0.030],

        "P5": [-6.666, -4.267, -0.717, 0.690],

        "P6": [-6.828, -6.809, -0.729, 0.677],
        "P7": [-6.828, -6.809, 0.993, 0.007],
        "P8": [-6.828, -6.809, 0.993, 0.007],
        "P9": [-6.828, -6.809, 0.700, 0.709],

        "P10": [-6.590, -4.232, 0.685, 0.723],
        "P11": [-6.590, -4.232, 0.993, 0.004],
        "P12": [-6.590, -4.232, 0.993, 0.004],
        "P13": [-6.590, -4.232, -0.722, 0.684],

        "P14": [-6.898, -8.401, -0.665, 0.740]
    }
    </rosparam>
</node>
</launch>
