<launch>
    <node name="listener" pkg="four_wheel_car_controller" type="car_controller" output="screen">
        <param name="port"  type="str" value="/dev/ttyUSB0"/>   <!-- 設備埠號 -->
        <param name="rate"  type="int" value="50"/>             <!-- 執行頻率 -->
        <param name="debug"   type="bool" value="false" />      <!-- 發佈日誌 -->
        
        <param name="straight_correction" type="bool" value="true"/>    <!-- 啟用直線補償 -->
        <param name="external_imu" type="bool" value="false"/>          <!-- 使用外部陀螺儀 -->
        
        <!-- 直線補償 -->
        <param name="Kp" type="double" value="0.035"/>                  <!-- P 控制器 -->
        <param name="Ki" type="double" value="0.05"/>                   <!-- I 控制器 -->
        <param name="Kd" type="double" value="0.01"/>                   <!-- D 控制器 -->

        <param name="topic_cmd_vel" type="str" value="/cmd_vel"/>       <!-- 訂閱速度命令 -->
        <param name="topic_imu"     type="str" value="/imu/data" />     <!-- 訂閱慣性陀螺儀 -->

        <param name="topic_odom"    type="str" value="wheel_odom" />    <!-- 發佈車輪里程計 -->
        <param name="publish_tf"    type="bool" value="true" />         <!-- 發佈 tf 轉換 -->
    </node>
</launch>