<launch>
    <arg name="forkpos" default="/forklift_pose"/>
    <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-0.16 0 0.58 3.14 0.43633231 0 base_link camera_link 100" /> -->

    <node pkg="forklift_server" type="ForkliftTFBroadcaster.py" name="ForkliftTFBroadcaster" output="screen">
        <param name="parent_frame_id" value="base_link" /><!-- frame_id-->
        <param name="child_frame_id" value="camera_link" /><!-- child_frame_id-->
        <param name="translation" value="[-0.16, 0.0, 0.06]" /><!--x y z-->
        <param name="rotation" value="[0.0, 0.21, 3.14]" /><!--(Roll, Pitch, Yaw)-->
        <param name="rate" value="100" />
        <param name="forkpos" value="$(arg forkpos)" />
    </node>
    <!--megapose-->
    <include file="$(find visp_megapose)/launch/megapose_client_oilpalm.launch"/>

    <node pkg="forklift_server" type="PBVS_server_wheeltec.py" name="PBVS_server" output="screen">
        
        <!--Subscriber Topic setting/-->
        <param name="odom" value="/wheel_odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
        <param name="pose_topic" value="/oilpalm" /><!--相機對位的 Topic/-->
        <param name="object_filter" value="False" /><!--(True: , False: )/-->
        <param name="confidence_minimum" value="0.7" /><!--megapose信心值低於它停止動作/-->

        <!--camera parking setting-->
        <param name="camera_tag_offset_x" type="double" value = "0.0" /><!--對位目標點與tag的左右偏移量/-->
        <param name="camera_desired_dist_threshold" type="double" value = "0.3" />  <!--如果需要移動的距離小於threshold，就不執行move_nearby_parking_lot動作-->
        <param name="camera_parking_stop_threshold" type="double" value = "0.1" />  <!--車體相機對位停止距離/-->
    </node>
</launch>
