<launch>
<arg name="robot_pose" default="/robot_pose"/>
<node pkg="forklift_server" type="publisher_robot_pose.py" name="Robot_pose" output="screen">
    <param name="publish_name" value="$(arg robot_pose)" />
    <param name="rate" type="int" value="10" />
</node>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <param name="robot_pose" value="$(arg robot_pose)" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="start_node" value="P1" />
    <rosparam param= "graph">
    {
        "P1": {"P2": 1},
        "P2": {"P3": 1},
        "P3": {"P4": 1},
        "P4": {"P5": 1},
        "P5": {"P6": 1},
        "P6": {"P7": 1},
        "P7": {"P8": 1},
        "P8": {"P9": 1},
        "P9": {"P10": 1},
        "P10": {"P11": 1},
        "P11": {"P12": 1},
        "P12": {"P13": 1},
        "P13": {"P14": 1},
        "P14": {"P14": 1}
    }
    </rosparam>
    <rosparam param= "waypoints">
    {    
        "P1": [-6.536, -0.830, -0.716, 0.687],
        "P2": [-6.458, -3.419, -0.716, 0.687],
        "P3": [-6.458, -3.419, -0.034, 0.994],
        "P4": [-6.458, -3.419, -0.034, 0.994],
        "P5": [-6.458, -3.419, -0.716, 0.687],
        "P6": [-6.418, -5.846, -0.732, 0.669],
        "P7": [-6.418, -5.846, -0.034, 0.995],
        "P8": [-6.418, -5.846, -0.034, 0.995],
        "P9": [-6.418, -5.846, 0.706, 0.706],
        "P10": [-6.403, -3.339, 0.683, 0.728],
        "P11": [-6.403, -3.339, -0.034, 0.994],
        "P12": [-6.403, -3.339, -0.034, 0.994],
        "P13": [-6.403, -3.339, -0.716, 0.687],
        "P14": [-6.455, -8.343, -0.700, 0.701]
    }
    </rosparam>
</node>
</launch>

        <!-- "P0": [-6.536, -0.830, -0.759, 0.638],        
        1
        "P1_E1": [-6.345, -3.418, -0.716, 0.687],    
        2 5 13
        "P1_W1": [-6.345, -3.418, 0.683, 0.728],   
        10
        "P1":    [-6.345, -3.418, -0.034, 0.994],    
        3 4 11 12

        "P2_E1": [-6.418, -5.846, -0.732, 0.669],    
        6
        "P2":    [-6.418, -5.846, -0.034, 0.995],    
        7 8
        "P2_W1": [-6.418, -5.846, 0.706, 0.706],   
        9

        "P3":    [-6.455, -8.343, -0.700, 0.701]
        14 -->